#hero {
  background-color: #f6faff;
  background-image: url('../images/hero_image.png');
  background-position: center;
  background-size: cover;
  padding-top: 24px;
  padding-bottom: 0;
}

#hero-body {
  max-width: 400px;
}

#webthings-wordmark {
  height: 100px;
}

#cta-button {
  background-color: #b6d806;
  color: #000;
  border: none;
}

#gateway-section {
  width: 50%;
  box-sizing: border-box;
  background-color: #fff;
  float: left;
  text-align: center;
}

#gateway-section h2 {
  font-weight: normal;
  display: inline-block;
}

#gateway-section img {
  display: block;
  height: 245px;
  margin: 20px auto;
}

#framework-section {
  width: 50%;
  box-sizing: border-box;
  background-color: #4a4a4f;
  float: left;
  text-align: center;
  color: #fff;
}

#framework-section h2 {
  font-weight: normal;
  display: inline-block;
}

#framework-section img {
  display: block;
  height: 245px;
  margin: 20px auto;
}

#get-involved-section {
  clear: both;
  background-color: #45a1ff;
  text-align: center;
  color: #fff;
}

#get-involved-button {
  clear: both;
  display: block;
  width: 150px;
  margin: 0 auto;
}

#contributions {
  width: 960px;
  margin: 0 auto;
}

.contribution {
  width: 300px;
  float: left;
  margin: 10px;
}

.contribution img {
  width: 192px;
  margin: 10px;
}

#get-involved-section .button {
  clear: both;
}
