#intro #illustration {
  width: calc(100% - 2rem);
}

#gateway-section {
  width: 100%;
}

#gateway-section img {
  width: calc(100% - 2rem);
}

#framework-section {
  clear: both;
  width: 100%;
}

#framework-section img {
  width: calc(100% - 2rem);
  height: auto;
}

#contributions {
  width: 100%;
  box-sizing: border-box;
}

.contribution {
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
}
