@font-face {
    font-family: 'Zilla Slab';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/ZillaSlab-Regular.woff2") format("woff2"), url("/fonts/ZillaSlab-Regular.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/ZillaSlab-Bold.woff2") format("woff2"), url("/fonts/ZillaSlab-Bold.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/ZillaSlab-RegularItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-RegularItalic.woff") format("woff")
}
@font-face {
    font-family: 'Zilla Slab';
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/ZillaSlab-BoldItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-BoldItalic.woff") format("woff")
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/opensans-regular.woff2") format("woff2"), url("/fonts/opensans-regular.woff") format("woff")
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/opensans-bold.woff2") format("woff2"), url("/fonts/opensans-bold.woff") format("woff")
}

#wordmark {
  background-image: url('/images/mozilla_iot_wordmark.svg');
  background-size: 161px, 32px;
  height: 32px;
  width: 161px;
}

h1 {
  margin: 0;
  padding: 10px;
  font-size: 30px;
  font-family: "Zilla Slab", "Open Sans", sans-serif;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-family: "Zilla Slab", "Open Sans", sans-serif;
}

h3 {
  font-family: "Zilla Slab", "Open Sans", sans-serif;
  font-size: 17.5px;
}

section {
  padding: 20px;
}
