#hero {
  background-image: url('../images/community_hero_image.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 24px;
  padding-bottom: 0;
  color: #fff;
}

#hero-body {
  max-width: 400px;
}

#webthings-wordmark {
  margin: 20px;
}

#get-involved-section {
  clear: both;
  background-color: #45a1ff;
  text-align: center;
  color: #fff;
}

#contributions {
  width: 960px;
  margin: 0 auto;
}

.contribution {
  width: 300px;
  float: left;
  margin: 10px;
}

.contribution img {
  width: 192px;
  margin: 10px;
}

#get-involved-section p {
  clear: both;
}

#get-involved-section a {
  color: #fff;
}

#events-heading {
  text-align: center;
}

.mzp-c-card {
  float: left;
}

.mzp-c-card h2 {
  padding: 0;
}
