h2 {
  text-align: center;
  font-weight: normal;
}

section p {
  font-size: 1.5rem;
}

#intro {
  background-color: #e3eff8;
  background-image: url('../images/hub_background.png');
  background-size: cover;
  background-position: center;
  color: #000;
  text-align: center;
  padding: 0;
}

#intro h2 {
  display: inline-block;
  font-size: 3.0rem;
  padding: 3rem 0 0 0;
}

.carousel-section {
  display: none;
  flex-direction: row;
  padding-bottom: 0;
}

.carousel-section.selected {
  display: flex;
}

.carousel-screenshot {
  flex: 1;
  padding: 0 2rem;
}

.carousel-screenshot-image {
  width: 90%;
  max-width: 80rem;
  margin: 3rem 0;
}

.carousel-description {
  flex: 1;
  text-align: left;
  padding: 0 2rem;
}

.carousel-description-wrapper {
  padding: 2rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-heading {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 0rem 0.5rem;
  margin: 0;
}

#carousel-tabs {
  display: block;
  margin: 0 auto;
  width: 20rem;
  list-style-type: none;
  padding-bottom: 2rem;
}

#carousel-tabs a {
  display: inline-block;
  margin: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: #609dc8;
  opacity: 0.3;
}

#carousel-tabs a:focus {
  outline: none;
}

#carousel-tabs a.selected {
  opacity: 1;
}

#carousel-tabs li {
  display: inline-block;
}

#instructions {
  background-color: #fff;
  color: #1a1a1a;
}

#instructions-content {
  width: 83.5rem;
  margin: 0 auto;
}

#instructions a {
  color: #2c5aa0;
  text-decoration: none;
}

#instructions a:hover {
  text-decoration: underline;
}

.instruction {
  padding-left: 8rem;
  background-size: 6.4rem;
  background-position: 0 2rem;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden;
}

.instruction h3 {
  width: 40rem;
  font-family: "Zilla Slab", "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
}

.instruction p {
  width: 40rem;
  float: left;
  margin-right: 8rem;
}

.instruction img {
  width: 27rem;
  float: left;
  margin: 1rem 0;
}

#instruction-1 {
  background-image: url('../images/1.png');
}

#instruction-2 {
  background-image: url('../images/2.png');
}

#instruction-3 {
  background-image: url('../images/3.png');
}

a#download-button {
  margin: 2rem 0;
  color: #4a4a4a;
  text-align: center;
}

a#download-button:hover {
  text-decoration: none;
}

#getting-started-guide {
  display: block;
  margin: 0 auto;
}
