#intro img {
  width: calc(100% - 4rem);
  max-width: 40rem;
}

#instructions {
  width: 100%;
  min-width: 32rem;
  box-sizing: border-box;
}

#instructions-content {
  width: 100%;
}

.instruction p {
  width: calc(100% - 8rem);
  min-width: 20rem;
}

.instruction img {
  width: calc(100% - 2rem);
  display: block;
  margin: 1rem auto;
  max-width: 27rem;
}

#getting-started-guide {
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 75rem;
}
