h2 {
  text-align: center;
  font-weight: normal;
}

section p {
  font-size: 1.5rem;
}

#intro {
  background-color: #5d9bc7;
  color: #fff;
  text-align: center;
}

#intro h2 {
  display: inline-block;
  font-size: 2.6rem;
}

#intro img {
  width: 40rem;
  display: block;
  margin: 1rem auto;
}

#instructions {
  background-color: #fff;
  color: #1a1a1a;
}

#instructions-content {
  width: 83.5rem;
  margin: 0 auto;
}

#instructions a {
  color: #2c5aa0;
  text-decoration: none;
}

#instructions a:hover {
  text-decoration: underline;
}

.instruction {
  padding-left: 8rem;
  background-size: 6.4rem;
  background-position: 0 2rem;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden;
}

.instruction h3 {
  width: 40rem;
  font-family: "Zilla Slab", "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
}

.instruction p {
  width: 40rem;
  float: left;
  margin-right: 8rem;
}

.instruction img {
  width: 27rem;
  float: left;
  margin: 1rem 0;
}

#instruction-1 {
  background-image: url('../images/1.png');
}

#instruction-2 {
  background-image: url('../images/2.png');
}

#instruction-3 {
  background-image: url('../images/3.png');
}

a#download-button {
  margin: 2rem 0;
  color: #4a4a4a;
  text-align: center;
}

a#download-button:hover {
  text-decoration: none;
}

#getting-started-guide {
  display: block;
  margin: 0 auto;
}
