h2 {
  text-align: center;
  font-weight: normal;
}

section p {
  font-size: 16px;
}

#intro {
  background-color: #e3eff8;
  background-image: url('../images/hub_background.png');
  background-size: cover;
  background-position: center;
  color: #000;
  text-align: center;
  padding: 0;
}

#webthings-gateway-wordmark {
  width: 320px;
  margin-top: 50px;
}

.carousel-section {
  display: none;
  flex-direction: row;
  padding-bottom: 0;
}

.carousel-section.selected {
  display: flex;
}

.carousel-screenshot {
  flex: 1;
  padding: 0 20px;
}

.carousel-screenshot-image {
  width: 90%;
  max-width: 800px;
  margin: 30px 0;
}

.carousel-description {
  flex: 1;
  text-align: left;
  padding: 0 20px;
}

.carousel-description-wrapper {
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-heading {
  font-family: "Zilla Slab", "Open Sans", sans-serif;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 0rem 5px;
  margin: 0;
}

#carousel-tabs {
  display: block;
  margin: 0 auto;
  width: 200px;
  list-style-type: none;
  padding-bottom: 20px;
}

#carousel-tabs a {
  display: inline-block;
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #609dc8;
  opacity: 0.3;
}

#carousel-tabs a:focus {
  outline: none;
}

#carousel-tabs a.selected {
  opacity: 1;
}

#carousel-tabs li {
  display: inline-block;
}

#instructions {
  text-align: center;
}

.download-box {
  width: calc(50% - 40px);
  float: left;
  padding-bottom: 40px;
}

.download-box img {
  display: block;
  margin: 20px auto;
  height: 200px;
}

.download-button {
  margin: 10px auto;
}
