#things-framework-intro {
  background-color: #5d9bc7;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

#things-framework-intro h2 {
  display: inline-block;
  font-size: 2.6rem;
}

#things-framework-intro p {

}

#things-framework-intro img {
  display: block;
  width: 30rem;
  margin: 1rem auto;
}

#things-framework-intro a {
  color: white;
}

#things-framework {
  background-color: #fff;
  color: #1a1a1a;
}

#things-framework-content {
  width: 83.5rem;
  margin: 0 auto;
  overflow: hidden;
}

#things-framework h1, #things-framework h2, #things-framework h3 {
  color: #4d4d4d;
}

#installation {
  width: 100%;
  font-size: 1.4rem;
}

#example {
  width: 100%;
  font-size: 1.4rem;
}

.tabs {
  position: relative;
  display: block;
  height: 44rem;
  margin: 0 auto 2rem 0;
}

#installation .tabs {
  height: 29rem;
}

.tabs section {
  position: absolute;
  display: block;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 40rem;
  box-sizing: border-box;
  padding: 1rem 2rem;
  background-color: #eee;
  z-index: 0;
}

#installation .tabs section {
  height: 25rem;
}

.tabs section:first-child {
  z-index: 1;
}

.tabs section h3 {
  font-family: sans-serif;
  position: absolute;
  font-size: 1.5rem;
  font-weight: normal;
  width: 10rem;
  height: 4rem;
  top: -4rem;
  left: 0;
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #eee;
}

.tabs section:nth-child(2) h3 {
  left: 11rem;
}

.tabs section:nth-child(3) h3 {
  left: 22rem;
}

.tabs section:nth-child(4) h3 {
  left: 33rem;
}

.tabs section h3 a {
  display: block;
  width: 100%;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: 0 none;
}

.tabs section:target,
.tabs section:target h3 {
  color: #000;
  background-color: #ccc;
  z-index: 2;
}

pre {
  max-height: 35rem;
  overflow: scroll;
  background-color: #4a4a4a;
  color: #fff;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#installation pre {
  max-height: 25rem;
}

#libraries {
  text-align: center;
}

.library {
  display: inline-block;
  width: 20rem;
  text-align: center;
}

.library img {
  width: 10rem;
}

.library .button {
  text-align: center;
  width: 15rem;
}
