#intro img {
  width: calc(100% - 4rem);
  max-width: 40rem;
}

#things-framework-intro {
  width: 100%;
  min-width: 32rem;
  box-sizing: border-box;
}

#things-framework-content {
  width: 100%;
}

#things-framework-intro img {
  width: calc(100% - 2rem);
  display: block;
  margin: 1rem auto;
  max-width: 27rem;
}
