

.column {
  width: 100%;
}

#internet-of-things img, #web-of-things img, #mozilla-iot img {
  width: calc(100% - 2rem);
}

#internet-of-things img, #mozilla-iot img {
  max-width: 30rem;
}

#web-of-things img {
  max-width: 50rem;
}
