#hero {
  background-color: #f6faff;
  background-image: url('/images/hero_image.png');
  background-position: center;
  background-size: cover;
  padding-top: 24px;
  padding-bottom: 0;
}

#hero h1 {
  text-align: center;
}

h1 {
  text-align: left;
}

h1, h2 {
  padding-left: 0;
}

.illustration {
  display: block;
  height: 245px;
  margin: 20px auto;
}
